@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;

}

body {
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
}

.content {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-footer {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-item-user {
  min-width: 44px;
  min-height: 64px;
}

.navigation-user {
  width: 318px;
  margin-left: auto;
  padding: 22px 12px;
}

.navigation-link {
  padding: 20px 16px;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.navigation-logo {
  margin-right: 30px;
}

.logo {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 82px 371px;
}

.section-logo {
  background: url("../images/index-background.jpg") no-repeat;
  background-color: #E6E6E6;
  background-size: cover;
}

.section-title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  margin: 69px 290px 25px;
}

.interesting-title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}

.sectoin-text {
  text-align: center;
  margin: 0px 274px 69px;
}

.section-servises-title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  margin: 64px 347px 20px;
}

.sectoin-servises-text {
  text-align: center;
  margin: 0px 355px 64px;
}

.advantages-title {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}

.servises-title {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}

.advantages-description {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.servises-text {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.advantages-text {
  padding: 112px 85px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 230px;
}

.servises-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.servises-item {
  width: 230px;
}

.interesting-section {
  text-align: center;
  margin: 96px 304px;
}

.subscription-section {
  text-align: center;
  background: #E6E6E6 url("../images/subscribe.jpg") no-repeat;
  background-size: cover;
  color: #ffffff;
}

.catalog-products {
  background: #E6E6E6 url("../images/catalog-form.jpg") no-repeat;
  color: #ffffff;
  background-size: cover;
  width: 1060px;
  padding: 35px 70px 70px 70px;
}

.button {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
}

.button-brown {
  background-color: #756157;
  padding: 8px 20px;
}

.button-blue {
  background-color: #82B3D3;
  padding: 8px 20px;
}

.button-green {
  background-color: #7DB54F;
  padding: 8px 20px;
}

.button-transparent {
  background-color: transparent;
  padding: 8px 57px;
}

.button-search-hotel {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.button-apply {
  padding: 8px 50px;
}

.want-here,
.subscription {
  padding: 8px 34px;
}

.subscription-title {
  text-transform: uppercase;
  font-weight: 700;
}

.footer-content {
  margin: 40px 70px 30px;
  display: flex;
  flex-direction: row;
  width: 1060px;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts {
  max-width: 720px;
}

.footer-academy {
  max-width: 115px;
  margin-left: auto;
}

.footer-contacts-phone {
  text-decoration: none;
  color: #000000;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
}

.footer-social {
  text-align: center;
  max-width: 142px;
  margin-right: auto;
  min-width: 142px;
}

.footer-social-list {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
}

.backgraund-dark,
.backgraund-dark .advantages-title {
  background-color: #82B3D3;
  color: #ffffff;
  width: 1200px;
}

.backgraund-white {
  background-color: #ffffff;
  padding: 112px 85px;
}

.backgraund-light {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 112px 85px;
}

.backgraund-medium {
  background-color: rgba(131, 179, 211, 0.2);
  padding: 112px 85px;
}

.subscription {
  font-size: 20px;
  line-height: 36px;
}

.subscription-section {
  padding: 96px 258px 104px;
}

.subscription-section-catalog {
  text-align: center;
  padding: 96px 258px 104px;
}

.subscription-title-catalog {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-filter {
  display: flex;
  width: 1060px;
  margin: 50px 70px 40px 70px;
}

.product-title-full {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-right: auto;
}

.product-card {
  font-size: 18px;
  line-height: 21px;
  margin-right: 20px;
  margin-bottom: 20px;
  list-style-type: none;
}

.product-card-reiting {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
}

.pagination {
  display: flex;
  width: 1060px;
  margin: 80px 70px 60px 70px;
}

.pagination-item {
  list-style-type: none;
}

.pagination-link {
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  padding: 12px 23px;
  margin-left: 8px;
}

.pagination-button {
  padding: 16px 23px;
  margin-left: 8px;
  background-color: #ffffff;
}

.pagination-current {
  color: #000000;
  font-size: 20px;
  line-height: 36px;
  background-color: #F2F2F2;
  margin-left: 0px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin-bottom: 8px;

}

.breadcrumbs {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  margin-right: 28px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.control-input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.product-control {
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  height: 49px;
  background-color: #ffffff;
}

.subscription-email {
  font-family: inherit;
}
