@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;

}

body {
  font-family: "PT Sans", sans-serif;
  min-height: 100%;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
}

.content {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-icon {
  background-image: url("../images/search.svg");
  width: 44px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.heart-icon {
  background-image: url("../images/heart.svg");
  position: relative;
  width: 44px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  text-decoration: none;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-list {
  display: flex;
  align-items: center;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 168px;
  max-width: 400px;
}

.navigation-user {
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navigation-link {
  padding: 20px 16px;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.navigation-link:hover {
  background-color: #82B3D3;
}

.navigation-link:focus {
  background-color: #82B3D3;
}

.navigation-item-user:hover {
  background-color: #82B3D3;
}

.navigation-item-user:focus {
  background-color: #82B3D3;
}

.navigation-logo {
  margin-right: 30px;
}

.notification-badge {
  display: block;
  position: absolute;
  text-align: center;
  background-color: #7DB54F;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  width: 20px;
  height: 10px;
  left: 20px;
  top: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-header-logo {
  position: absolute;
  display: block;
  margin-bottom: -6px;
}

.logo {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.section-logo {
  background: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-color: #70a3c6;
  background-position: center bottom;
  background-size: 100% auto, cover;
  padding-top: 51px;
  padding-bottom: 82px;
}

.section-title,
.interesting-title,
.section-servises-title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}

.sectoin-text,
.sectoin-servises-text {
  text-align: center;
}


.advantages-title,
.servises-title {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 30px;
}

.advantages-title {
  margin-bottom: 60px;
}



.advantages-description,
.advantages-description-white {
  position: relative;
  margin: 0px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.advantages-description::before {
  position: absolute;
  right: 85px;
  top: -30px;
  left: 85px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-description-white::before {
  background-color: rgba(225, 225, 225, 0.3);
}

.advantages-section-text {
  padding: 69px 270px;
}

.servises-section-text {
  padding: 64px 347px;
}


.servises-text {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  margin: 0px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 1200px;
  box-sizing: border-box;
}

.servises-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.interesting-section {
  text-align: center;
  padding: 96px 304px;
}

.subscription-section {
  text-align: center;
  background: #E6E6E6 url("../images/subscribe.jpg") no-repeat;
  background-size: cover;
  color: #ffffff;
}

.catalog-products {
  background: url("../images/catalog-form.jpg") no-repeat;
  background-color: #6b8eb4;
  color: #ffffff;
  background-size: cover;
  width: 1060px;
  padding: 35px 70px 70px 70px;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-brown {
  background-color: #756157;
  padding: 8px 20px;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3)
}

.button-blue {
  background-color: #82B3D3;
  padding: 8px 20px;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3)
}

.button-green {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.button-green:hover {
  background-color: #6C9E42;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3)
}

.button-transparent {
  background-color: transparent;
  padding: 8px 57px;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3)
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.3)
}

.button-transparent:focus {
  border: 3px solid #83B3D3;
}

.button-search-hotel {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.button-apply {
  padding: 8px 50px;
  margin-bottom: 32px;
}

.want-here {
  width: 160px;
  margin: auto 0;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  padding: 8px 0;
}

.subscription {
  padding: 8px 34px;
}

.subscription-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-contacts {
  max-width: 720px;
}

.footer-academy {
  min-width: 115px;
}


.footer-contacts-phone {
  text-decoration: none;
  color: #000000;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-academy-logo {
  color: #000000;
}

.footer-academy-logo:hover {
  color: #756157;
}

.footer-academy-logo:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-academy-logo:focus {
  color: #756157;
}

.soc-icon {
  width: 47px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  color: #83B3D3;
}

.telegram-logo {
  width: 48px;
  height: 41px;

}

.soc-icon:hover {
  color: #68A2CA;
}

.soc-icon:active {
  color: rgba(104, 162, 202, 0.3);
}

.soc-icon:focus {
  color: #68A2CA;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  min-width: 142px;
  padding: 0px;
}

.advantages-text {
  padding: 102px 85px;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  margin: 0px;
  color: #ffffff;
}

.advantages-title-white {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 60px;
}

.photo-citi {
  object-fit: cover;
  box-sizing: border-box;
}

.backgraund-dark {
  display: flex;
  background-color: #82B3D3;
  color: #ffffff;
  box-sizing: border-box;
  width: 1200px;
  min-height: 385px;
}

.backgraund-dark-reverse {
  flex-direction: row-reverse;
}

.backgraund-white {
  background-color: #ffffff;
  padding: 183px 85px 113px;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
}

.backgraund-light {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 113px 85px;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
}

.servises-item {
  padding: 183px 85px 81px;
  background-repeat: no-repeat;
  background-position: 162px 82px;
}

.home {
  background-image: url("../images/home-icon.svg");
}

.food {
  background-image: url("../images/food-icon.svg");
}

.souvenirs {
  background-image: url("../images/gift-icon.svg");
}

.backgraund-medium {
  background-color: rgba(131, 179, 211, 0.2);
  padding: 113px 85px;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
}

.subscription {
  font-size: 20px;
  line-height: 36px;
}

.subscription-section {
  padding: 96px 258px 104px;
}

.subscription-section-catalog {
  text-align: center;
  padding: 96px 258px 104px;
}

.subscription-title-catalog {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

}

.stars {
  display: flex;
  width: 140px;
  grid-area: star;
}

.stars-icon {
  background-image: url("../images/star.svg");
  width: 18px;
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin-right: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stars-icon:last-child {
  margin-right: auto;
}

.product-filter {
  display: flex;
  width: 1060px;
}

.product-title-full {
  color: #000000;
  font-size: 30px;
  margin: 0px;
  line-height: 36px;
  font-weight: 700;
  margin-right: auto;
  text-transform: uppercase;
}

.product {
  width: 1060px;
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 50px;
  border-bottom: 1px solid #E6E6E6;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 0px;
}

.product-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-areas:
    " link link "
    " link link "
    " vied price "
    " brown favorit "
    " star reiting ";
  gap: 20px 16px;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card-vied {
  grid-area: vied;
}

.product-card-price {
  grid-area: price;
}

.product-card-button {
  grid-area: brown;
}

.product-card-button-favorit {
  grid-area: favorit;
}

.product-card-reiting {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  grid-area: reiting;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.product-card-link {
  grid-area: link;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.product-card-link:hover {
  color: #333333;
}

.product-card-link:active {
  color: #333333;
}

.product-card-link:focus {
  color: #333333;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
  grid-column: 1/-1;
}

.pagination {
  display: flex;
  width: 1060px;
  padding: 40px 70px 60px 70px;
  margin-top: 0px;
  margin-bottom: 60px;
}

.pagination-item {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  list-style-type: none;
  margin-left: 8px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3)
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  display: block;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  padding: 12px 18px;
  text-align: center;
  border-radius: 4px;
}

.pagination-button {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 16px 23px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
}

.pagination-current {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  display: block;
  text-decoration: none;
  font-weight: 700;
  padding: 12px 18px;
  text-align: center;
  border-radius: 4px;
  color: #000000;
  font-size: 20px;
  line-height: 36px;
  background-color: #F2F2F2;
  margin-left: 0px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin-bottom: 8px;

}

.breadcrumbs {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0px;
  list-style-type: none;

}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
  margin-right: 18px;
}

.breadcrumbs-icon {
  margin-bottom: 0px;
  margin-top: 3px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-item {
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  margin-right: 10px;
}

.breadcrumbs-item:last-child {
  background-image: none;
  margin-right: 0px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0px;
  margin-top: 32px;
  padding: 0px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin-top: 40px;
}

.catalog-filter-group {
  width: 160px;
  margin: 0px;
  margin-right: 60px;
  border: 0px;
  padding: 0px;
}

.type-home {
  margin: 0px;
  margin-right: auto;
}

.cost {
  width: 288px;
  margin-right: 70px;
}

.cost-button {
  display: flex;
}

.apply {

  width: 191px;
  min-height: 104px;
}

.control {
  font-size: 18px;
  line-height: 23px;
  position: relative;
  display: block;
  cursor: pointer;
}

.control-input-title {
  padding-left: 36px;
}

.control-input-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-right: 2px;
}

.cost-button:last-child {
  margin-right: 0px;
}

.product-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  height: 49px;
  background-color: #ffffff;
  margin-right: 70px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.product-control:hover {
  border: 2px solid #68A2CA;
}

.product-control:focus {
  border: 2px solid #68A2CA;
}

.subscription-form {
  display: flex;
}

.subscription-form-catalog {
  display: flex;
}

.subscription-email {
  box-sizing: border-box;
  font-family: inherit;
  background-color: #F2F2F2;
  border: none;
  width: 452px;
  margin-right: 0px;
  min-height: 52px;
  padding: 14px 20px;
}

.subscription-email:hover {
  background-color: #E6E6E6;
}

.subscription-email:active {
  background-color: #E6E6E6;
  box-shadow: 0 0 0 2px #83B3D3;
}

.subscription-email:focus {
  background-color: #E6E6E6;
  box-shadow: 0 0 0 2px #83B3D3;
}

.number {
  box-sizing: border-box;
  border: none;
  width: 143px;
  padding: 12px 20px;
  min-height: 48px;
  appearance: none;
  appearance: textfield;
  background-color: #F2F2F2;
}

.number:hover {
  background-color: #E6E6E6;
}

.number:active {
  box-sizing: border-box;
  background-color: #E6E6E6;
  box-shadow: 0 0 0 2px #83B3D3;
}

.number:focus {
  box-sizing: border-box;
  background-color: #E6E6E6;
  box-shadow: 0 0 0 2px #83B3D3;
}

.catalog-vied-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}


.square-button {
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  border: 2px solid #E5E5E5;
  margin-right: 8px;
  border-radius: 4px;
}

.square-button:hover {
  border: 2px solid #000000;
}

.square-button:active {
  border: 2px solid #000000;
}

.square-button:focus {
  border: 2px solid #68A2CA;
}

.see-cards {
  background-image: url("../images/catalog-icon1.svg");
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  border: 2px solid #E5E5E5;
  margin-right: 8px;
  border-radius: 4px;
}

.see-card {
  background-image: url("../images/catalog-icon2.svg");
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  border: 2px solid #E5E5E5;
  margin-right: 8px;
  border-radius: 4px;
}

.see-list {
  background-image: url("../images/catalog-icon3.svg");
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.active-button {
  border: 2px solid #000000;
}

.choince-list {
  font-family: inherit;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 36px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #82B3D3;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #82B3D3;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.control:hover .control-input-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:active .control-input-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input-title:hover {
  color: rgba(255, 255, 255, 0.6);
}

.control-input-title:active {
  color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-input-mark::before,
.control-input[type="checkbox"]:checked + .control-input-mark::after {
  background-image: url("../images/checkmark.svg");
  width: 12px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  box-sizing: border-box;

  position: absolute;
  top: 6px;
  left: 4px;
  background-size: cover;
  content: "";
}

.control-input-mark-circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-input-mark-circle {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:active .control-input-mark-circle {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"] + .control-input-mark-circle {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-input-mark-circle::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}
